body{
  background-color: #DAD8D6;
}
.um-logo {
  height: 50px;
}

.navbar-text {
  font-weight: bold;
}
.nav-item a:hover{
color: #BE1206;
}
.nav-item {
  font-weight: bold;
  transition: background-color 0.15s;
}
.navbar-toggler:focus {
  color: #be1206;
}
#img-bg {
  background-image: url(../images/dpt.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
}
.active{
color: red;
}




